:root{
    --primary: rgb(97, 97, 216);
}
.btn{
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn:hover{
    padding: 10px 20px;
    transition: all 0.3s linear;
    background: #fff;
    color: rgb(116, 3, 182);
    transition: 250ms;
    
}
.btn--primary{
    background-color: var(--primary);
}
.btn--outlin{

    background-color: transparent;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn-meduim{
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 18px ;
    color: #fff;
}
.btn-large{
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 18px;
}